@mixin border-radius {
  border-radius: 10px;
}

$color-white: #ffffff;
$color-black: #000000;
$color-box-shadow: #65a797;
$color-purple: #3f1f69;
$color-orange: #cc5833;
$color-square-gradient: linear-gradient(4deg, rgba(63,31,105,.29) 55%, rgba(133, 108, 176, .23) 100%);
$color-square-webkit-gradient: -webkit-linear-gradient(4deg, rgba(20,236,02,.29) 55%, rgba(74, 247, 255, 0.08) 100%);
